body {
    background-color: var(--clr-dg);
}
main {
    background-color: var(--clr-dg);
    border-top: 1px solid var(--clr-ws);
    color: var(--clr-blk);
}

::-webkit-scrollbar {
    height: 0.75rem;
}
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-track:horizontal {
    border-radius: 0;
}

section.gallery {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    min-height: 100vh;
    width: min(1680px, 90%);
}
div.blowup {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 80vh;
    max-height: 80%;
    max-width: 100%;
    position: relative;
}
div.blowup img {
    max-height: 100%;
    object-fit: scale-down;
    width: auto;
}
div.left-box {
    height: 100%;
    width:50%;
    max-height: 80vh;
    position: absolute;
    transition: all 0.2s;
}
div.left-box:hover {
    background-image: linear-gradient(to left, transparent, var(--clr-hlt));
    opacity: 50%;
}
div.right-box {
    height: 100%;
    width: 50%;
    margin-left: 50%;
    max-height: 80vh;
    position: absolute;
    transition: all 0.2s;
}
div.right-box:hover {
    background-image: linear-gradient(to right, transparent, var(--clr-hlt));
    opacity: 50%;
}

div.scroller {
    background-image: linear-gradient(to bottom, var(--clr-dg), rgb(0,0,0));
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 10%;
    margin-bottom: 0;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior: contain;
    padding-top: 1rem;
    width: 100%;
}
div.scroller::before {
    content: "";
    border-left: 1px solid var(--clr-ws);
    height: 8rem;
    position: absolute;
    margin-left: 0;
    width: 0;
}
div.scroller::after {
    content: "";
    border-right: 1px solid var(--clr-ws);
    height: 8rem;
    position: absolute;
    margin-left: 100%;
    width: 0;
}
.selector {
    cursor: pointer;
    height: 100%;
    margin: 0.5rem 0.125rem;
    width: auto;
}
.selector:hover,
.selector:focus {
    background-color: var(--clr-hlt);
}
.selector:active {
    background-color: var(--clr-lh-b);
}
[type=radio] {
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.selector label {
    display: flex;
    justify-content: center;
    align-items: center;
}
.selector img {
    display: inline;
    height: 6rem;
    padding: 0.75rem;
    position: relative;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#active {
    background-color: var(--clr-lh-b);
}

@media all and (max-width: 769px) {
    div.left-box,
    div.right-box {
        opacity: 0;
    }
    div.left-box:hover,
    div.right-box:hover {
        opacity: 0;
    }
}