/*
'EB Garamond', serif;  main
'Murecho', sans-serif; sub
'Mukta', sans-serif; header
'Source Sans Pro', sans-serif; body
*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Mukta:wght@700&family=Murecho:wght@200&family=Source+Sans+Pro:wght@300&display=swap');
:root {
    /* Base Colors */
    --clr-ws: rgb(245, 245, 245); /* WhiteSmoke */
    --clr-lhtblu: rgb(0, 110, 165); /* Ocean Blue but lighter */
    --clr-blu: rgb(0, 72, 107); /* Ocean Blue */
    --clr-drkblu: rgb(0, 55, 83); /* Ocean Blue but darker */
    --clr-blk: rgb(30, 30, 30); /* Almost Black */
    --clr-g: rgb(197, 197, 197); /* Light Gray */
    --clr-dg: rgb(52, 52, 52); /* Dark Slate Gray -- OPAQUE */
    --clr-i: rgb(170, 10, 10); /* Red -- Important Marker */
    /* Link Colors */
    --clr-lh: rgb(26, 56, 56); /* Pale Blue */
    --clr-lh-b: rgb(135, 255, 255); /* Light Cyan */
    --clr-lh-a: rgb(174, 198, 207); /* Pastel Blue */
    --clr-hlt: rgb(0, 180, 180);

    --clr-overlay: rgb(0, 128, 128, 0.7); /* Teal -- TRANSLUCENT */

    --top-font: 'EB Garamond', serif;
    --supplement-font: 'Murecho', sans-serif;
    --fnt-h: 'Mukta', sans-serif;
    --fnt-b: 'Source Sans Pro', sans-serif;
}

.debug-outline-green {
    border: 2px solid green;
}

/*
    Page Setup
*/

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

html {
    box-sizing: border-box;
    background-color: var(--clr-ws);
    color: black;
    font-family: var(--fnt-b);
    font-size: 26px;
    line-height: 1.5;
    margin: 0;
}

body {
    margin: 0 auto;
    width: 100%;
}

.cwrap {
    margin: 0 auto;
    width: min(1000px, 100%);
}

.mobile {
    display: none;
}

::-webkit-scrollbar {
    background-color: var(--clr-dg);
    height: 2rem;
    width: 0.275rem;
}

::-webkit-scrollbar-track {
    background-color: var(--clr-g);
    border-radius: 100vw;
    margin: 0.5rem 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-blu);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    color: var(--clr-drkblu);
}

/*
    Header Elements
*/
header {
    background-color: var(--clr-dg);
    color: white;
    font-family: var(--top-font);
    padding: 10px 0 0;
}

.preface {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
    justify-content: space-around;
}

.preface .cwrap {
    display: inherit;
}

.preface a {
    display: block;
    margin: auto;
    max-width: 25%;
    position: relative;
    width: auto;
}

.preface a img {
    flex-basis: 1;
    height: 100px;
    margin: 15px 0;
    max-height: 100px;
    position: relative;
    right: 0;
    width: auto;
}

.preface p {
    align-self: center;
    color: var(--clr-g);
    flex-basis: 2;
    margin: 0 1em;
    text-align: center;
}

nav {
    border-top: 2px solid var(--clr-ws);
    box-sizing: border-box;
    font-family: var(--supplement-font);
    font-weight: bold;
    position: relative;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex: 1 1 0;
    margin: 0;
    padding: 0;
    position: relative;
}
nav ul li a {
    border: 0 1px 0 1px solid var(--clr-ws);
    border-bottom: 4px solid transparent;
    color: var(--clr-ws);
    display: inline-block;
    text-decoration: none;
    padding: 0.75em;
    position: relative;
}

nav ul li a:hover,
nav ul li a:focus {
    color: var(--clr-lh);
    background-color: var(--clr-lh-b);
    border-color: var(--clr-ws);
}
nav ul li a:active {
    color: var(--clr-lh-a);
}

/*
    End Header Elements
*/

/*
    Content Elements
*/

main {
    background-color: var(--clr-ws);
    color: var(--clr-blk);
    margin: 0 auto;
}

h1, h2 {
    line-height: 1;
    position: relative;
    margin: 0 auto;
    padding-left: 1em;
    width: 100%;
}

h1 {
    font-size: 2rem;
    text-decoration: underline;
}

h2 {
    font-size: 2.5rem;
    text-decoration: underline;
}

section {
    position: relative;
}

.a-btn {
    cursor: pointer;
    line-height: 1;
    text-align: center;
    top: 0;
    transition: all 0.2s;
}

.round-box {
    border: 8px solid var(--clr-blu);
    border-radius: 50px;
    margin: 0 15px;
    padding: 20px;
}

.round-top {
    border: 8px solid var(--clr-blu);
    border-radius: 50px 50px 0 0;
}

.bw {
    border-color: var(--clr-ws);
}

.t-b {
    border-top: 2px solid var(--clr-g);
}

.btn-1 {
    background-color: var(--clr-blu);
    border: 4px solid var(--clr-blu);
    border-radius: 50px;
    color: var(--clr-ws);
    display: block;
    font-family: var(--fnt-h);
    font-size: 1.5em;
    margin: 0.5em 2em 1em;
    padding: 0.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.btn-1:hover,
.btn-1:focus {
    background-color: var(--clr-lh-b);
    border-color: var(--clr-lh-b);
    color: var(--clr-lh);
}
.btn-1:active {
    background-color: var(--clr-lh-a);
}

span.p-hlt {
    font-size: 1.125em;
    color: var(--clr-hlt);
}

h2.section-title {
    background-color: var(--clr-ws);
    color: var(--clr-blu);
    font-family: var(--fnt-h);
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 0;
}
h2.section-title > span {
    display: inline-block;
    text-decoration: none;
}

.bg-b {
    background-color: var(--clr-blu) !important;
}
.bg-w {
    background-color: var(--clr-ws) !important;
}
.tc-b {
    color: var(--clr-blu) !important;
}
.tc-w {
    color: var(--clr-ws) !important;
}

/* Main page */
section.s-intro {
    background-color: var(--clr-blu);
    border: 2px solid var(--clr-blu);
    border-radius: 50px ;
    margin: 0 auto;
    width: 90%;
}

.service-preview {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
    justify-content: space-around;
    margin: 0 auto;
    padding: 2em;
}

.service-preview a {
    background-color: transparent;/*var(--clr-blu5-alt);*/
    border: 8px solid var(--clr-ws);
    border-radius: 15px;
    display: flex;
    flex-basis: 40%;
    flex-flow: column nowrap;
    margin-bottom: 1em;
    text-decoration: none;
    transition: all 0.2s;
    z-index: 1;
}
.service-preview a:hover,
.service-preview a:focus {
    transform: scale(1.05);
}
.service-preview a img {
    height: auto;
    width: 100%;
    z-index: 0;
}
.service-preview a span {
    align-items: center;
    color: var(--clr-ws);
    background-color: inherit;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: var(--fnt-h);
    font-size: 1.125em;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

section.q-ref {
    background-color: var(--clr-ws);
    color: var(--clr-blk);
    padding: 2em;
    word-spacing: 0.3em;
}

h1.sec-pitch {
    color: var(--clr-blu);
    padding: 1em 0 0.5em;
    text-align: center;
    text-decoration: none;
}

section.about-ctr {
    background-color: var(--clr-ws);
    color: var(--clr-blk);
    font-size: 0.825em;
    padding: 0 2.5em 1em;
    word-spacing: 0.3em;
}

section.about-team {
    background-color: var(--clr-blu);
    color: var(--clr-ws);
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.825em;
    padding: 0.5em 1em;
    align-items: center;
}
section.about-team p {
    padding-bottom: 1em;
    width: 90%;
}
section.about-team p > img {
    border-radius: 50%;
    float: left;
    max-height: 150px;
    margin-bottom: 1em;
    padding-right: 0.25em;
}

section.service {
    background-color: var(--clr-ws);
    padding: 0 1rem 1rem;
}
.service-contact > p.round-box {
    margin-bottom: 2rem;
}
.service-contact > .a-btn {
    margin-bottom: 3rem;;
}
.service h1 {
    background-color: var(--clr-blu);
    color: var(--clr-ws);
    cursor: pointer;
    font-size: 1.25rem;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    text-decoration: none;
    transition: all 0.2s;
}
.grow {
    display: block;
}
label.grow:hover {
    cursor: pointer;
}
input.grow {
	display: none;
}
.if-grown {
	height: auto;
	max-height: 0em;
	opacity: 0;
	overflow: hidden;
    padding: 0 0.5rem 0.25rem;
    transform: scaley(0);
    transform-origin: left top;
	transition: .5s ease-in-out;
}
.if-grown ul,
.if-grown ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.if-grown ul li.text-indent {
    margin-left: 0.5rem;
    text-indent: -0.5rem;
}
input[type=checkbox]:checked + h1 {
    background-color: transparent;
    color: var(--clr-blu);
    margin-bottom: 0;
}
input[type=checkbox]:checked + h1 + div {
	border: 2px solid var(--clr-g);
    border-right: none;
    border-top: none;
    margin-bottom: 1rem;
	max-height: 20rem;
    opacity: 1;
	transform: scaleY(1);
}
input[type=checkbox]:checked:hover + h1 {
    color: var(--clr-lh-a);
}
input[type=checkbox]:not(:checked):hover + h1 {
    background-color: var(--clr-lhtblu);
}
input[type=checkbox]:not(:checked) + h1 > label.grow > label.is-grown:before {
    content: "+";
    cursor: pointer;
}
label.is-grown:before {
    content: "-";
    cursor: pointer;
}
.service p {
    color: var(--clr-blk);
}

section.contact-info {
    border-bottom: 2px solid var(--clr-g);
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 50%;
    margin: 0;
    padding: 1em 2em;
}
.contact-info > p {
    border-right: 1px solid var(--clr-g);
    align-self: center;
    padding: 2rem 1rem;
    position: relative;
}
ul.contact-blips {
    display: block;
    padding-left: 0;
}
.contact-blips li {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    height: 2rem;
    margin: 0 auto 0 0;
    position: relative;
}
.contact-blips li::before {
    background-repeat: no-repeat;
    background-size: contain;
    content: ' ';
    display: inline-block;
    height: 1rem;
    width: 1.25rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: baseline;
}
.contact-blips li > img {
    box-sizing: content-box;
    height: 1rem;
    margin-bottom: 0;
    position: relative;
    width: auto;
}

/* Section needs reimagining. Too clustered with properties too widely dispersed */
section.contact-panel {
    background-color: var(--clr-ws);
    color: var(--clr-blk);
}
.contact-panel form {
    padding-right: 1rem;
    margin: 1rem 0;
}
.contact-panel form ul {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    margin: 0.5rem auto;
}
.contact-panel form ul li {
    display: flex;
    flex: 1 1 50%;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.contact-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 0.25rem;
    width: 100%;
}
.contact-item + .contact-item {
    margin-left: 1rem;
}
.contact-item label {
    color: var(--clr-blu);
    display: block;
    font-size: 0.75rem;
    margin: 0.5rem 0 0;
}
.contact-item > label > span {
    color: var(--clr-i);
}
.contact-item > label + label {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    padding-left: 0.25rem;
    margin-top: 0.25rem;
}
.contact-item input {
    border: 1px solid var(--clr-g);
    display: block;
    font-size: 0.825rem;
    margin-bottom: 0rem;
    padding: 0 0.25rem;
}
.contact-item input[type="radio"] + #phone {
    margin-left: 10px;
}
.contact-item input[type="radio"] + #phone + span {
    margin-top: -0.75rem;
    position: relative;
}
/* .contact-item input[type="radio"]:not(:checked) + #phone, */
.contact-item input[type="radio"]:not(:checked) + #phone + span {
    visibility: hidden;
}
.contact-item input[type="radio"]:checked + #phone + span {
    visibility: visible;
}
.contact-item textarea {
    border: 2px solid var(--clr-g);
    color: var(--clr-blk);
    display: block;
    font-size: 0.825rem;
    resize: none;
    text-align: left !important;
    width: 100%;
}
.contact-panel form ul li button {
    background-color: var(--clr-blu);
    border-color: var(--clr-blu);
    border-radius: 3px;
    color: var(--clr-ws);
    display: block;
    font-size: 0.75rem;
    margin-top: 8px;
    padding: 0.5rem 1rem;
    transition: all 0.2s;
}
.contact-panel form ul li button:hover,
.contact-panel form ul li button:focus {
    background-color: var(--clr-lh-b);
    color: var(--clr-lh);
}
.contact-panel .submission-status {
    text-align: right;
    width: 100%;
}

/*
    End Content Elements
*/

/*
    Footer Elements
*/

footer {
    background-color: var(--clr-dg);
    padding: 2em 4em;
}

.footer-bump {
    border-bottom: double var(--clr-ws);
    position: relative;
    margin: 1em auto;
    width: 100%;
}

.footer-wrap {
    align-items: center;
    display: flex;
    flex: 1 2 1;
    font-size: 0.825em;
    justify-content: space-around;
}

footer a {
    display: block;
    flex-basis: 20%;
    line-height: inherit;
    margin: auto 0;
    max-width: 25%;
    position: relative;
    width: auto;
}

footer a img {
    display: inline-block;
    height: 100px;
    margin: auto;
    position: relative;
    transition: all 0.2s;
    vertical-align: middle;
    width: auto;
}

footer ul {
    display: block;
    flex-flow: column nowrap;
    list-style: none;
    padding: 0;
    position: relative;
}

footer ul li a {
    color: var(--clr-ws);
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}

footer ul li a:hover,
footer ul li a:focus {
    color: var(--clr-g)
}

.social-panel {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
}

.social-panel a {
    display: block;
    max-height: 25%;
    padding: 1em;
    position: relative;
}

.social-panel a img {
    max-height: 26px;
    width: auto;
}

footer a img:hover,
footer a img:focus {
    transform: scale(1.2);
}

.footnote {
    color: var(--clr-g);
    font-size: 0.5em;
    text-align: center;
}

@media all and (max-width: 769px) {
    /* Page Setup */
    html, body {
        font-size: 16px;
        overflow-x: hidden;
    }

    a {
        -webkit-tap-highlight-color: transparent;
    }

    .page-wrapper {
        width: 100%;
    }

    .mobile {
        display: inherit;
    }

    /* Nav Mods */
    .preface a {
        margin-left: 1em;
        max-width: 30%;
    }

    .preface a img {
        max-height: 60px;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    
    nav ul {
        justify-content: space-between;
    }

    #home {
        display: none;
    }
    

    /* Content Mods */
    .service-preview {
        align-items: center;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    .service-preview a {
        margin: 2em;
        max-width: 300px;
        padding: 0.5em;
    }.service-preview a span {
        margin-top: 0.5em;
    }

    .about-team p > img {
        margin-top: 0.5em;
        margin-bottom: 0;
    }

    input[type=checkbox]:not(:checked):hover + h1 { /* Disabling highlight for mobile, lasts after closing expandable */
        background-color: var(--clr-blu);
    }

    section.contact-info {
        flex-flow: column nowrap;
    }
    .contact-info > p {
        border-bottom: 1px solid var(--clr-g);
        border-right: none;
        padding-bottom: 1rem;
    }
    section.contact-panel {
        flex-flow: column-reverse nowrap;
        flex: 0 1 0;
    }
    .contact-panel form {
        border-right: none;
        padding-right: 1rem;
        margin: 1rem;
    }
    .contact-panel form ul {
        max-width: 90%;
        padding-left: 0;
    }
    .contact-panel form ul li {
        flex-flow: column nowrap;
    }
    .contact-item + .contact-item {
        margin-left: 0;
    }
    .contact-panel form ul li input[type="submit"] {
        margin: 1.5rem 0;
        padding: 2rem 1rem;
    }

    ul.contact-blips {
        margin-bottom: 0;
        padding: 0.5rem auto;
    }
    ul.contact-blips li {
        padding-bottom: 0.25rem;
    }

    /* Footer Mods */
    footer {
        padding: 1em 3em;
    }

    .footer-bump {
        display: none;
    }
    
    .footer-wrap {
        justify-content: space-between;
    }

    footer a img {
        height: 50px;
    }

    footer ul li {
        line-height: 2;
        margin: 0.5em 0;
    }
    
    .social-panel {
        flex-flow: column nowrap;
    }

}